<div>
    <form action="/login" method="post">
        <input type="email" name="email" value="" placeholder="Email" />
        <input type="text" name="password" value="" placeholder="Password" />
        <button type="submit">Sign in</button>
    </form>
</div>