<form action="/create" method="post" enctype="multipart/form-data">
    <input  type="file" placeholder="Upload" name="audio"/>
    <input  type="title" placeholder="Song name" name="title"/>
    <textarea  type="text" placeholder="Song description" name="description"></textarea>
    <button type="submit">Submit</button>
</form>