<div>
    <form action="/register" method="post">
        <input type="text" name="username" value="" placeholder="Username" />
        <input type="email" name="email" value="" placeholder="Email" />
        <input type="text" name="password" value="" placeholder="Password" />
        <input type="text" name="rePass" value="" placeholder="Repeat-Password" />
        <button type="submit">Sign up</button>
    </form>
</div>