section {
    width: 90%;
    height: 200px;
    background-color: #0c0d0d;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 5px;
    color: white;
    
}

ul {
    list-style: none;
    color: white;
}
ul p {
    margin-left: 10px;
}
li {
    width: 150px;
    background-color: #046db2;
    border-radius: 5px;
    margin: 5px;
}
a {
    width: 100%;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: white;
}
