<section>
    <div>
        <ul class="inner-list-item">
            <li><a routerLink="/home">Contacts</a></li>
            <li><a routerLink="/about">About</a></li>
        </ul>
    </div>
    <div class="outer-list">
        
        <ul class="outer-list-item"><p>Follow us</p>
            <li><a href="https://facebook.com/"><fa-icon [icon]="['fab', 'facebook-f']"></fa-icon></a></li>
            <li><a href="https://instagram.com/"><fa-icon [icon]="['fab', 'instagram']"></fa-icon></a></li>
            <li><a href="https://twitter.com/"><fa-icon [icon]="['fab', 'twitter']"></fa-icon></a></li>
            <li><a href="https://youtube.com/"><fa-icon [icon]="['fab', 'youtube']"></fa-icon></a></li>
            <li><a href="https://tiktok.com/"><fa-icon [icon]="['fab', 'tiktok']"></fa-icon></a></li>
        </ul>
    </div>
</section>
